@import "";
.hg-button.hg-standardBtn.displaced {
  background: var(--dark-yellow)  !important;
}

.hg-button.hg-standardBtn.correct {
  background: var(--dark-green) !important;
}
.hg-button.hg-standardBtn.wrong {
  background: var(--mediun-blue) !important;
  color: lightgray !important;
}

.keyboard-container {
  padding-top: 20px;
}

.hg-button{
  font-family: 'Roboto', sans-serif;
  margin: 0px 2px;
  width: 4vw !important;
  height: 4vw !important;
  font-size: 1em;
  font-weight: bold !important;
  color:#FFF;
  padding: 5px !important;
}
@media (max-width: 1080px) {
  .hg-button {
    width: 5vw !important;
    min-width: 28px !important;
    height: 5vw !important ;
    min-height: 28  px !important;
  }
}


.hg-button.hg-standardBtn, .hg-button.hg-functionBtn{
  background: var(--mediun-blue) !important;
  padding: 10px !important;
}  

.simple-keyboard {
  background-color: var(--light-blue); /* Change this to your desired background color */
}