
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display-swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono' monospace;
}
body {
    background-color:var(--mediun-blue);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

/* variables.css */

:root {
    --light-blue: #96CAF7;
    --mediun-blue: #4A7CA7;
    --dark-blue: #26435C;

    --light-gray: #dbd3d9;
    --mediun-gray: #44413e;
    --dark-gray: #201e1f;

  }
