.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alterado para flex-start para alinhar no topo */
    height: 100vh; /* Isso garante que a div ocupe 100% da altura da viewport */
    margin-top: 20px;
    width: 100vw;
    max-width: 1080px;
}